<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emed.shopping.dao.mapper.admin.goods.ShopGoodsBrandMapper" >


    <select id="selectBrandDataList" resultType="map" parameterType="map">
        SELECT
          b.id,
          b.`name` AS brandName,
          b.`sort`,
          b.`first_word`,
          c.`name` AS categoryName,
          a.`path`,
          a.`name` AS logoName,
          b.`recommend`
        FROM
          shop_goods_brand b
          LEFT JOIN shop_goods_brand_category c
            ON b.`category_id` = c.id
          LEFT JOIN shop_accessory a
            ON b.`accessory_id` = a.`id`
            <where>
                AND b.delete_status = 0
                <if test="brandName != null and brandName != ''">
                    and b.name like  CONCAT('', #{brandName,jdbcType=VARCHAR}, '%')
                </if>
                <if test="categoryName != null and categoryName != ''">
                    and c.name like  CONCAT('', #{categoryName,jdbcType=VARCHAR}, '%')
                </if>
            </where>
        order by b.${orderStr}
        limit ${offset},${limit}
    </select>

    <select id="selectBrandDataListCount" resultType="int" parameterType="map">
        SELECT
          count(*)
        FROM
          shop_goods_brand b
          LEFT JOIN shop_goods_brand_category c
            ON b.`category_id` = c.id
          LEFT JOIN shop_accessory a
            ON b.`accessory_id` = a.`id`
        <where>
            AND b.delete_status = 0
            <if test="brandName != null and brandName != ''">
                and b.name like  CONCAT('', #{brandName,jdbcType=VARCHAR}, '%')
            </if>
            <if test="categoryName != null and categoryName != ''">
                and c.name like  CONCAT('', #{categoryName,jdbcType=VARCHAR}, '%')
            </if>
        </where>
    </select>

    <select id="selectBrandFullDataById" resultType="map" parameterType="long">
        SELECT
          b.id,
          b.`name` AS brandName,
          b.`sort`,
          b.`first_word` AS firstWord,
          b.`recommend`,
          c.`name` AS categoryName,
          a.`path`,
          a.`name` AS logoName,
          a.id as accessoryId
        FROM
          shop_goods_brand b
          LEFT JOIN shop_goods_brand_category c
            ON b.`category_id` = c.id
          LEFT JOIN shop_accessory a
            ON b.`accessory_id` = a.`id`
          WHERE b.id = #{id}
    </select>

</mapper>