<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emed.shopping.dao.mapper.admin.goods.ShopGoodsClassMapper" >



    <select id="selectGoodsClassList" resultType="com.emed.shopping.base.TreeResult">

        select id,class_name as text ,parent_id as parentId,level from shop_goods_class

    </select>

    <select id="selectGoodsClassJoinList" resultType="map" parameterType="map">
        SELECT
          sc.id,
          sc.class_name as className,
          sc.display,
          sc.recommend,
          sc.sort ,
          st.`name`
        FROM
          shop_goods_class sc
          LEFT JOIN shop_goods_type st
            ON sc.`goods_type_id` = st.id
            <where>
                <if test="parentId != null">
                    and sc.parent_id = #{parentId}
                </if>
            </where>
        order by sc.${order}
        limit #{offset},#{limit}
    </select>

    <select id="selectFllDataById" parameterType="long" resultType="map">
        SELECT
          s.class_name AS className,
          s.parent_id AS parentId,
          s.goods_type_id AS goodsTypeId,
          s.display,
          s.recommend,
          s.icon_type AS iconType,
          s.icon_sys AS iconSys,
          s.seo_keywords AS seoKeywords,
          s.seo_description AS seoDescription,
          s.id,
          s.sort,
          t.name,
          s2.class_name AS parentName,
          s2.level as parentLevel
        FROM
          shop_goods_class s
          LEFT JOIN shop_goods_type t
            ON s.goods_type_id = t.id
          LEFT JOIN shop_goods_class s2
            ON s.parent_id = s2.id
            where s.id = #{id}
    </select>

</mapper>