<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emed.shopping.dao.mapper.admin.user.ShopUserMapper" >
  <resultMap id="BaseResultMap" type="com.emed.shopping.dao.model.admin.user.ShopUser" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="delete_status" property="deleteStatus" jdbcType="VARCHAR" />
    <result column="MSN" property="msn" jdbcType="VARCHAR" />
    <result column="QQ" property="qq" jdbcType="VARCHAR" />
    <result column="WW" property="ww" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="available_balance" property="availableBalance" jdbcType="DECIMAL" />
    <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="freeze_blance" property="freezeBlance" jdbcType="DECIMAL" />
    <result column="gold" property="gold" jdbcType="INTEGER" />
    <result column="integral" property="integral" jdbcType="INTEGER" />
    <result column="last_login_date" property="lastLoginDate" jdbcType="TIMESTAMP" />
    <result column="last_login_ip" property="lastLoginIp" jdbcType="VARCHAR" />
    <result column="login_count" property="loginCount" jdbcType="INTEGER" />
    <result column="login_date" property="loginDate" jdbcType="TIMESTAMP" />
    <result column="login_ip" property="loginIp" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="report" property="report" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="true_name" property="trueName" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_role" property="userRole" jdbcType="VARCHAR" />
    <result column="user_credit" property="userCredit" jdbcType="INTEGER" />
    <result column="photo_id" property="photoId" jdbcType="BIGINT" />
    <result column="store_id" property="storeId" jdbcType="BIGINT" />
    <result column="qq_openid" property="qqOpenid" jdbcType="VARCHAR" />
    <result column="sina_openid" property="sinaOpenid" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="years" property="years" jdbcType="INTEGER" />
    <result column="area_id" property="areaId" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.emed.shopping.dao.model.admin.user.ShopUser" extends="BaseResultMap" >
    <result column="store_quick_menu" property="storeQuickMenu" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, add_time, delete_status, MSN, QQ, WW, address, available_balance, birthday, email, 
    freeze_blance, gold, integral, last_login_date, last_login_ip, login_count, login_date, 
    login_ip, mobile, password, report, sex, status, telephone, true_name, user_name, 
    user_role, user_credit, photo_id, store_id, qq_openid, sina_openid, parent_id, years, 
    area_id
  </sql>
  <sql id="Blob_Column_List" >
    store_quick_menu
  </sql>
</mapper>